.sizeimg {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
* {
    padding: 20px 10px;
    
}
.imgsize {
    width: 100%;
    object-fit: cover;
    height: auto;
}
.back {
    background-color: black;
}